name: Test

on:
  push:
    branches:
      # Push will only build on branches that match this name
      # Pull requests will override this, so pushes to pull requests will still build
      - master
  pull_request:
    branches:
      - master

jobs:

  test-coverage:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry config virtualenvs.create false
        poetry install
    - name: Generate coverage report
      run: |
        pytest --cov=changelog_gen --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        yml: ./codecov.yml
        fail_ci_if_error: true

  # no legacy code yet
  # test-legacy:
  #
  #   runs-on: ubuntu-latest
  #
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Set up Python 3.8
  #     uses: actions/setup-python@v1
  #     with:
  #       python-version: 3.8
  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip poetry
  #       poetry config virtualenvs.create false
  #       poetry install
  #   - name: Generate coverage report
  #     run: |
  #       pytest -m "backwards_compat"

  test-python-versions:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [3.8, 3.9.18, 3.10.13, 3.11, 3.12]
        include:
          - os: windows-latest
            version: 3.9.13
          - os: windows-latest
            version: 3.10.11
        exclude:
          - os: windows-latest
            version: 3.9.18
          - os: windows-latest
            version: 3.10.13

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry config virtualenvs.create false
        poetry install
    - name: Test with pytest
      run: |
        pytest
